
.DateGrid {
  display: flex;
  align-items: center; 
}

.theme-container {
  border: 1px solid #61dafb;
  display:flex;
  overflow-wrap: anywhere; 
  height:200px;
  
}

.theme-container h2 {
  display: flex;       /* フレックスボックスを有効にする */
  margin-right:20px;
  align-items: center; /* 縦方向に中央揃え */
  width: 200px;
  line-break: strict;
}

.task {
  
  background-color: #61dafb;
  padding:10px;
  min-width:300px;
  
}

